<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>Grid</name>
    <guid>1a69f3de-ba10-461f-9516-0a1cb1feb841</guid>
    <version>3.1.0</version>
    <date>2022-09-13</date>
    <description><![CDATA[New ADC grid control]]></description>
    <company>Askia</company>
    <author><![CDATA[Paul Ferreira <paulf@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL>https://dev.askia.com</helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" numeric="true" single="false" chapter="false" date="false" multiple="false" open="true" requireParentLoop="true" requireLoopDepth="2" />
      <constraint on="controls" responseblock="true" textbox="true" checkbox="false" label="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="fallback">
    <output id="standard" manageLoopDepth="2">
      <description><![CDATA[Output when the browser support Javascript]]></description>
      <condition><![CDATA[Browser.Support("javascript")]]></condition>
      <content fileName="grid.css" type="css" mode="static" position="head" />
      <content fileName="standard.css" type="css" mode="dynamic" position="head" />
      <content fileName="standard.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="standard_numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="es5-shim.min.js" type="javascript" mode="static" position="head">
        <yield><![CDATA[

          <!--[if lt IE 10]>
            <script type="text/javascript" src="{%= CurrentADC.URLTo("static/es5-shim.min.js") %}"></script>
          <![endif]-->

        ]]></yield>
      </content>
      <content fileName="jquery-3.6.0.min.js" type="javascript" mode="static" position="head" />
      <content fileName="modernizr.custom.js" type="javascript" mode="static" position="head" />
      <content fileName="jquery-ui.min.js" type="javascript" mode="static" position="head" />
      <content fileName="jquery.ui.touch-punch.min.js" type="javascript" mode="static" position="head" />
      <content fileName="jquery.transit.min.js" type="javascript" mode="static" position="head" />
      <content fileName="grid.js" type="javascript" mode="static" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="standard_numeric.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="crosshairs.png" type="image" mode="static" position="none" />
    </output>
    <output id="fallback" manageLoopDepth="2">
      <description><![CDATA[Fallback when the browser doesn&acute;t support Javascript]]></description>
      <condition><![CDATA[Not(Browser.Support("javascript"))]]></condition>
      <content fileName="default.css" type="css" mode="static" position="head" />
      <content fileName="fallback_numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="stackResponses" name="Stack Responses" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the resonses are in a single pile]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoStackWidth" name="Automatic Stacking Width" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[When set will turn on Stack Responses when the screen is below a certain width]]></description>
        <value><![CDATA[400]]></value>
      </property>
      <property xsi:type="standardProperty" id="selectNextResponse" name="Automatically Select Next Response" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether to automatically select the next response]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size for the control]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[
          The width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="string" mode="static">
        <description><![CDATA[
          The maximum width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="columns" name="Columns" type="number" mode="static">
        <description><![CDATA[
          The number of columns of responses
        ]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="textAlign" name="Text Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imageAlign" name="Image Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="animateResponses" name="Animate Responses" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the resonses fly into the screen]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="animationSpeed" name="Animation Speed" type="string" mode="static">
        <description><![CDATA[
          Speed of the animation
        ]]></description>
        <value><![CDATA[fast]]></value>
        <options>
          <option value="very fast" text="Very Fast" />
          <option value="fast" text="Fast" />
          <option value="medium" text="Medium" />
          <option value="slow" text="Slow" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoForward" name="Auto Forward" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the question continues to the next automatically if a single choice question]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="grid" name="Grid and drop area">
      <property xsi:type="standardProperty" id="originLocation" name="Origin Location" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Speed of the animation]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="center" text="Center" />
          <option value="bottomLeft" text="Bottom Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="gridSquares" name="Number of grid squares per row" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[This will set the number of grid squares per row / column]]></description>
        <value><![CDATA[10]]></value>
      </property>
      <property xsi:type="standardProperty" id="gridSquareBorderColour" name="Grid Square Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for grid squares]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="gridSquareBorderThickness" name="Grid Square Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the grid squares]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="gridSquareBorderStyle" name="Grid Square Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the grid squares]]></description>
        <value><![CDATA[dotted]]></value>
        <options>
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dropAreaContainerWidthHeight" name="Drop Area Container Width and height" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set drop area container width]]></description>
        <value><![CDATA[50%]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropAreaColourPrimary" name="Drop Area Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the drop area]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropAreaBorderColour" name="Drop Area Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected drop area]]></description>
        <value><![CDATA[{%= Theme.PrimaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropAreaBorderThickness" name="Drop Area Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the drop area]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropAreaBorderStyle" name="Drop Area Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the drop area]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dropAreaBorderRadius" name="Drop Area Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the drop area]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropAreaShadow" name="Drop Area Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the drop area]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showDropTargetColours" name="Show Drop Target Colours" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Shows positive and negative colours for target when labels are hidden]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dropTargetColourPrimary" name="Drop Target Colour Primary" type="color" mode="static" require="false" visible="false">
        <description><![CDATA[Primary colour of the start area]]></description>
        <value><![CDATA[58,244,48]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropTargetColourSecondary" name="Drop Target Colour Secondary" type="color" mode="static" require="false" visible="false">
        <description><![CDATA[Primary colour of the start area]]></description>
        <value><![CDATA[255,50,50]]></value>
      </property>
    </category>
    <category id="startArea" name="Start Area">
      <property xsi:type="standardProperty" id="startAreaPosition" name="Start Area Position" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The position of the start area in relation to the grid]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
          <option value="top" text="Top" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaWidth" name="Start Area Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set start area width]]></description>
        <value><![CDATA[50%]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaResponseAlignment" name="Start Area Response Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set start area response alignment]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaColourPrimary" name="Start Area Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the start area]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderColour" name="Start Area Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected start area]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderThickness" name="Start Area Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the start area]]></description>
        <value><![CDATA[none]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderStyle" name="Start Area Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the start area]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderRadius" name="Start Area Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the start area]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaShadow" name="Start Area Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the start area]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="axisLabels" name="Axis Labels">
      <property xsi:type="standardProperty" id="hideLabels" name="Hide Labels" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[This will hide the axis labels]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="hideLabelsMobile" name="Hide Labels for Mobile" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[This will hide the axis labels for mobiles]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="minLabelWidth" name="Min Label Width" type="string" mode="static">
        <description><![CDATA[
          Sets the minimum width for the axis labels
        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxLabelWidth" name="Max Label Width" type="string" mode="static">
        <description><![CDATA[
          Sets the maximum width for the axis labels
        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxLabelHeight" name="Max Label Height" type="string" mode="static">
        <description><![CDATA[
          Sets the maximum height for the axis labels
        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="labelPadding" name="Label Padding" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[When set this will set the padding for the labels]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="leftLabel" name="Left Label" type="string" mode="static">
        <description><![CDATA[
			Left Label
		  ]]></description>
        <value><![CDATA[Left]]></value>
      </property>
      <property xsi:type="standardProperty" id="rightLabel" name="Right Label" type="string" mode="static">
        <description><![CDATA[
			Right Label
		  ]]></description>
        <value><![CDATA[Right]]></value>
      </property>
      <property xsi:type="standardProperty" id="topLabel" name="Top Label" type="string" mode="static">
        <description><![CDATA[
			Top Label
		  ]]></description>
        <value><![CDATA[Top]]></value>
      </property>
      <property xsi:type="standardProperty" id="bottomLabel" name="Bottom Label" type="string" mode="static">
        <description><![CDATA[
			Bottom Label
		  ]]></description>
        <value><![CDATA[Bottom]]></value>
      </property>
      <property xsi:type="standardProperty" id="labelColourPrimary" name="Label Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the label]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="labelFontColour" name="Label Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Lable font colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="labelBorderColour" name="Label Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Label border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="labelBorderThickness" name="Label Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the labels]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="labelBorderStyle" name="Label Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the labels]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="labelShadow" name="Label Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the labels]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="responseLayout" name="Response Layout">
      <property xsi:type="standardProperty" id="responseTextPosition" name="Label Text Position" type="string" mode="static">
        <description><![CDATA[

	          Set position for text in responses in relation to images

        ]]></description>
        <value><![CDATA[bottom]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="left" text="Left" />
          <option value="bottom" text="Bottom" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="responses" name="Responses">
      <property xsi:type="standardProperty" id="scaleOnTarget" name="Scale On Target" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[The is the scale by which the response will reduce in size once placed on the grid]]></description>
        <value><![CDATA[0.5]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseWidth" name="Response Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[When set this will force the width of the reponses]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHeight" name="Response Height" type="string" mode="static">
        <description><![CDATA[
          When set this will force the height of the reponses
        ]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseMargin" name="Response Margin" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the margin around the responses]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responsePadding" name="Response Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the responses]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextPadding" name="Response Text Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the response text]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseImagePadding" name="Response Image Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the response images]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextLineHeight" name="Response Text Line Height" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will force the height of the reponses]]></description>
        <value><![CDATA[1.2]]></value>
      </property>
      <property xsi:type="standardProperty" id="displayResponseText" name="Display Response Text" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Display response text]]></description>
        <value><![CDATA[block]]></value>
        <options>
          <option value="block" text="Yes" />
          <option value="none" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseColourPrimary" name="Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the item]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontColour" name="Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseShadow" name="Response Drop Shadow" type="string" mode="static" require="true" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverColour" name="Show Response Hover Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverColourPrimary" name="Response Hover Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the response when hovering]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverFontColour" name="Show Response Hover Font Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the text of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverFontColour" name="Response Hover Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverBorder" name="Show Response Hover Border" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the border of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderColour" name="Response Hover Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderThickness" name="Response Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderStyle" name="Response Hover Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses when hovering]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverShadow" name="Show Response Hover Shadow" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the shadow of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverShadow" name="Response Hover Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses when hovering]]></description>
        <value><![CDATA[0px 2px 4px rgba(0,0,0,.2)]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedColourPrimary" name="Selected Response Colour Primary" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Primary colour of the selected item]]></description>
        <value><![CDATA[{%= Theme.NeutralColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedFontColour" name="Selected Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderColour" name="Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderThickness" name="Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the selected responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderStyle" name="Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the selected responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedShadow" name="Selected Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the selected responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="images" name="Images">
      <property xsi:type="standardProperty" id="autoImageSize" name="Force image to fit" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[If response height or width is forced then image will be resized to fit within container. If on this will override image resizeing rules]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="number" mode="static">
        <description><![CDATA[
          Set max image width
        ]]></description>
        <value><![CDATA[100]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="number" mode="static">
        <description><![CDATA[
          Set max image height
        ]]></description>
        <value><![CDATA[100]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force image size" type="string" mode="static">
        <description><![CDATA[
          Force height or width for all images
        ]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="no" text="No" />
          <option value="width" text="Force width" />
          <option value="height" text="Force height" />
          <option value="both" text="Force both" />
        </options>
      </property>
    </category>
    <category id="fallback" name="Fallback">
      <property xsi:type="standardProperty" id="orientation" name="Orientation" type="string" mode="static">
        <description><![CDATA[

	          Response block orientation

        ]]></description>
        <value><![CDATA[vertical]]></value>
        <options>
          <option value="horizontal" text="Horizontal" />
          <option value="vertical" text="Vertical" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fbImageWidth" name="Image Width" type="number" mode="static">
        <description><![CDATA[

	          Set image width for fallback

        ]]></description>
        <value><![CDATA[100]]></value>
      </property>
    </category>
  </properties>
</control>
